# Output from compiling extension
*.o
*.so
mkmf.log
Makefile
*.dll
*.bundle

# Editor
.*.swp
.redcar
.idea
.vscode

# Build
/.yardoc
/Gemfile.lock
/doc
/docs/adr/
!/Docs/ADR/
!/Docs/ADR/2026-08-28-taglib-ruby-plusへの名称変更.md
/pkg
/tmp
/test/data/add-relative-volume
/test/data/flac-create
/test/data/id3v1-create
/test/data/vorbis-create
/test/data/mp4-create
/test/data/wav-create
/test/data/wav-dump
/vendor
